* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  cursor: pointer;
}

.cart-icon {
  position: relative;
}

.cart-icon span {
  position: absolute;
  top: -15px;
  right: -10px;
  color: #DDCECD;
  background-color: #271033;
  padding: 0.3rem 0.6rem;
  border-radius: 50%;
  font-size: 0.9rem;
}

.navbar .input input {
  padding: 0.5rem 1rem;
  outline: transparent;
  border: transparent;
  font-size: 1rem;
  border-radius: 1rem;
}

.navbar a {
  text-decoration: none;
  color: #271033;
  font-size: 1.3rem;
  margin: 0 0.6rem;
}

.navbar a:hover {
  text-decoration: underline;
}